{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:jest/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["prettier", "@typescript-eslint", "jest", "react", "import"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "es6": true,
    "jest": true,
    "jest/globals": true,
    "browser": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "no-console": "off",
    "@typescript-eslint/camelcase": "off",
    "require-yield": "off",
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ],
    "import/first": 2,
    "import/order": 1
  },
  "overrides": [
    {
      "files": ["**/*.test.tsx", "**/*.test.ts", "**/*.stories.tsx", "**/*.stories.ts"],
      "rules": {
        "@typescript-eslint/no-empty-function": "off",
        "react/display-name": "off"
      }
    },
    {
      "files": ["**/*.tsx", "**/*.ts"],
      "rules": {
        "react/prop-types": "off"
      }
    }
  ]
}
